<!doctype html>
<html lang="en">

<head>
	<title>Billing</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<style type="text/css">
		th{
			background: azure;
		}
	</style>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
						<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
						<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Profile</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
						<li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="typography.html" class="active"><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">Billing</h3>
					<div class="panel panel-headline">
						<div class="panel-body">
							<div class="row">
							<div class="col-md-4">
								<label>Customer Name</label>
								<input type="text" placeholder="Nitish Kumar" class="form-control" name="">
							</div>
							<div class="col-md-4">
								<label>Email</label>
								<input type="text" class="form-control" name="">
							</div>
							<div class="col-md-4">
								<label>Contact</label>
								<input type="text" class="form-control" name="">
							</div>
						</div>
		
							<hr>
							<div class="row">
							<div class="col-md-4">
								<label>Date From</label>
								<input type="date" class="form-control" name="">
							</div>
							<div class="col-md-4">
								<label>Date To</label>
								<input type="date" class="form-control" name="">
							</div>
							<div class="col-md-4">
								<label>Event Type</label>
								<select class="form-control">
									<option>Morning</option>
									<option>Afternoon</option>
									<option>Evening</option>
									<option>Night</option>
									<option>Late Night</option>
								</select>
							</div>
						</div>
					
							
							
						</div>
					</div>
					<!-- billing details -->
					<div  class="panel">
						<div class="panel-body">
							<!-- CONTEXTUAL -->
							<h4>Billing Detail</h4>
						<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-bordered" id="crud_table">
											<thead>
												<tr>
													<th>#</th>
													<th width="50%">Description</th>
													<th>Amount</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td><input type="text" class="form-control" name="" id="des_1"></td>
													<td><input type="text" class="form-control" name="" id="amount-1"></td>
													<td></td>
												</tr>
											</tbody>
										</table>
										<div align="right">
     <button type="button" name="add" id="add" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button>
    </div>
   
									</div>
								</div>
							</div>
						
						
							<!-- END CALLBACK -->
						</div>
					</div>
					<!-- billing end -->
					<!-- booking details -->
					<div  class="panel">
						<div class="panel-body">
							<!-- CONTEXTUAL -->
								<h4>Payment Detail</h4>
						<div class="row">
							<div class="col-md-3">
								<label>Total Amount</label>
								<input type="number" class="form-control" name="">
							</div>
							<div class="col-md-3">
								<label>GST %</label>
								<select class="form-control">
									<option>18</option>
								</select>
							</div>
							<div class="col-md-3">
								<label>Amount Received</label>
								<input type="number" class="form-control" name="">
							</div>
							<div class="col-md-3">
								<label>Due Amount</label>
								<input type="number" class="form-control" name="">
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-4">
								<label>Mode of Payment</label>
								<select class="form-control">
									<option>Morning</option>
									<option>Afternoon</option>
									<option>Evening</option>
									<option>Night</option>
									<option>Late Night</option>
								</select>
							</div>
							
							<div class="col-md-4">
								<label>Check No</label>
								<input type="text" class="form-control" name="">
							</div>
							<div class="col-md-4">
								<label>Next Payment Date</label>
								<input type="date" class="form-control" name="">
							</div>
						</div>
						<hr>
						<p class="demo-button text-center" >
										<button type="button" class="btn btn-success"><i class="fa fa-check-circle"></i> Save</button>
										<button type="button" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> Save And Print</button>
										
									</p>
							<!-- END CALLBACK -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
$(document).ready(function(){
 var count = 1;
 
 $('#add').click(function(){
  count = count + 1;
  
  var html_code = "<tr id='row"+count+"'>";
   html_code += "<td>"+count+"</td>";
   html_code += "<td><input type='text' id='des_"+count+"' class='form-control' name=''></td>";
   html_code += "<td><input type='text' class='form-control' name='' id='amount_"+count+"'></td>";
   
   
    
   html_code += "<td><button type='button' name='remove' data-row='row"+count+"' class='btn btn-danger btn-xs remove'><i class='fa fa-minus'></i></button></td>";   
   html_code += "</tr>";  
   $('#crud_table').append(html_code);
 });
 
 $(document).on('click', '.remove', function(){
  var delete_row = $(this).data("row");
  $('#' + delete_row).remove();
 });
 });
 </script>
  <script type="text/javascript"> 
$('#save').click(function(){
    // alert("ss");
  var name = [];
  var item_code=[];
  $('.name').each(function(){
   name.push($(this).val());
  });
  $('.gst').each(function(){
   gst.push($(this).val());
  });
  
  $.ajax({
   url:"",
   method:"POST",
   data:{},
   success:function(data){
    alert(data);
   
   }
  });
 });
 
</script>
</body>

</html>
